* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.title {
  margin: 10px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #004c40;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-size: 3.25em;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 10px 250px 10px 250px;
  background-color: #00796b;
  margin-bottom: 10px;
}

.navItem, .navItem:visited {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;

}

.navItem:link {
  text-decoration: none;
}

.navItem:hover {
  color: #48a999;
  text-shadow: .5px .5px #004c40;
  font-weight: bold;
}

.subtitle{
  margin: 20px 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #004c40;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50%;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 1px 1px #48a999;

}

.newEntryHeader {
  font-family: 'Open Sans', sans-serif;
  color: #003a31;
  padding: 10px 0 0 0;
  font-size: 2em;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 95%;
  align-items: center;
  background-color: whitesmoke;
  border: .5px solid rgb(107, 107, 107);
  border-radius: 5px;
  box-shadow: 1px 1px #48a999;
}

label, input, textarea, select {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  width: 95%;
  resize: none;
  border-radius: 5px;
}

#entryText {
  padding: 5px;
  height: 140px;
}

input, select {
  padding: 5px;
}

.btn {
  height: 50px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.05em;
}

.entryLog {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0 20px 15px;
}

.eachEntry {
  flex-basis: 30%;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  min-width: 250px;
}

.eachEntry:hover{
  box-shadow: 5px 5px rgb(184, 184, 184);
  transform: scale(1.05);
}

.entryHeader {
  background-color: #004c40;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px 7px 15px;

}

.date {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  font-size: 1em;
}

.concepts {
  font-family: 'Open Sans', sans-serif;
  padding-top: 3px;
  width: 100%;
  color: whitesmoke;
  font-size: 1.2em;  
}

.entry {
  margin: ;
  font-family: 'Raleway', sans-serif;
  padding: 10px 15px 5px 15px;
  overflow-y: auto;
}

.mood {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  padding: 10px 15px 10px 15px;
}